{
	"extends": ["stylelint-config-sass-guidelines"],
	"plugins": ["stylelint-order"],
	"rules": {
		"max-nesting-depth": null,
		"property-no-unknown": null,
		"selector-class-pattern": null,
		"selector-no-qualifying-type": null,
		"order/order": ["custom-properties", "declarations"],
		"rule-empty-line-before": [
			"always",
			{
				"except": ["first-nested"],
				"ignore": ["after-comment"]
			}
		]
	}
}
