{% extends 'layouts/base.njk' %}

{% block styles %}
{{ super() }}
<link href="/assets/styles/pages/index/style.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="module" src="/assets/scripts/pages/index.js" defer></script>
{% endblock %}

{% block content %}
<img src="/assets/images/pages/index/ss.png" alt="">
<button href="aa.html">リンクです</button>
{% endblock %}
